.book-summary {
  li.chapter:not(.divider) {
    min-height: 36px;
    a {
      min-height: 16px;
      line-height: 1;
    }
  }
}

.book.color-theme-2 .book-header .btn {
  background: transparent;
  border: none;
}

.book.color-theme-1 .book-header .btn {
  background: transparent;
  border: none;
}

footer {
  text-align: center;
  margin: 10px;
}

.page-inner {
  min-height: calc(100vh - 110px);
}

footer.wrapper {
  font-size: 10px;
  span {
    display: block;
  }
}

#font-tips {
  line-height: 51px;
  padding: 0 15px;
  background: #373b4e;
  color: #fff;
  display: none;
}

#header-blog {
  min-height: 50px;
  height: auto;
}

.book-summary ul.summary li :not(:first-child) {
  a:not(:only-child) {
    display: inline;
  }
}

.book-summary ul.summary li:first-child {
  a + a {
    display: none;
  }
}

