.pagination {
  padding: 10px 0;
}

.postindex {
  min-height: calc(100vh - 90px);
}

footer {
  padding: 5px;
  font-size: 10px;
  line-height: 12px;
}

.postprofile .author {
  width: 19%;
}

.postprofile .info {
  width: 74%;
}

li.post {
  .tags {
    background: #d7d7d7;
    border-radius: 5px;
    margin: 0;
    padding: 0 5px;
    font-size: 10px;
  }
}
