<!DOCTYPE html>
<html>
{% include default_v1/head.html %}
<body>
{% include default_v1/header.html %}
<div class="page-content">
  <div class="wrapper">
    {{ content }}
  </div>
</div>
{% include default_v1/footer.html %}
<script>
  var _hmt = _hmt || [];
  (function () {
    if (window.location.href.indexOf('.0.0') == -1) {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?2b6ed0626d05b6f3edf4d29803d71f46";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    }
  })();
  (function () {
    if (window.location.href.indexOf('.0.0') == -1) {
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    }
  })();
</script>
</body>
</html>
